body {
  background: #f1e9e3;
}

.App header {
  text-align: center;
  margin: 30px 0;
  font-size: 50px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.App footer {
  text-align: center;
  margin: 30px 0;
}
